body {
    box-sizing: border-box;
    min-width: 600px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    color: white;
}

h3 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 36px; /* Adjusted font size */
    color: white;
    margin-top: 10px; /* Adjusted margin */
    margin-bottom: 20px; /* Adjusted margin */
}

h4 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 32px; /* Adjusted font size */
    color: white;
    margin-top: 0;
    margin-bottom: 30px; /* Adjusted margin */
}

p {
    font-family: Verdana;
    font-weight: normal;
    font-size: 24px; /* Adjusted font size */
    color: gray;
}

.links {
    font-family: Verdana;
    color: aquamarine;
    font-size: 24px; /* Adjusted font size */
    margin-top: 5px;
}

.copyright {
    font-family: Verdana;
    font-weight: lighter;
    font-size: 14px; /* Adjusted font size */
    color: gray;
    margin-top: 30px; /* Adjusted margin */
    margin-bottom: 0;
}

img {
    max-width: 100%; /* Adjusted max-width */
}

.window {
    position: relative;
    max-width: 100%;
    min-height: 100px;
    min-width: 200px; /* Adjusted min-width */
    margin: 0 auto;
}

.window video {
    height: auto; /* Adjusted height */
    top: 50%; /* Adjusted top position */
    left: 50%; /* Adjusted left position */
    transform: translate(-50%, -50%); /* Centering the video */
    position: absolute;
}

.window img {
    z-index: 1;
    position: relative;
    max-width: 100%; /* Adjusted max-width */
    height: auto;
    width: 50%; /* Adjusted width */
}

.icons {
    padding: 10px; /* Adjusted padding */
    max-width: 10%; /* Adjusted max-width */
}

.site-copyright {
    font-family: Verdana;
    font-weight: normal;
    font-size: 16px; /* Adjusted font size */
    color: gray;
    margin-top: 20px; /* Adjusted margin */
}

.footer-text {
    width: 300px; /* Adjusted width */
    height: auto; /* Adjusted height */
    margin: 0 auto;
}

footer {
    padding: 30px 0; /* Adjusted padding */
}
